@page
@model GitHubDemo.Pages.GithubDemoModel
@{
    ViewData["Title"] = "GithubDemo";
}

<h1>GithubDemo</h1>

<p>I have added some description here</p>

<p>I have fixed some bugs here</p>

<p>Demos can fail all the time</p>